@{
    ViewData["Title"] = "Inicio EcoAbastoSV";
}

<div class="text-center">
    <h1 class="display-4">Panel de Control</h1>
</div>

<div class="comic-box">
    <h2>🏆 Producto más vendido</h2>
    <p>@ViewBag.TopProducto</p>
</div>